.button {
    background-color: #FFFFFF; /* Green */
    border: none;
    color: #1976d2;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .button:hover {
    background-color: #999;
    color: white;
  }

  .button.active {
    background-color: #999;
    color: white;
  }