@import "../scss/variables.scss";

  .app__container {
    font-size: 1.6rem;
    background-color: $colour-button-primary;
    padding: 0 2rem 1rem 2rem;
    .app__content {
      padding: 1rem;
      background-color: white;
    }
  }

  .app__nav {
    list-style: none;
    padding: 0;
    color: white;
    margin: 0;
    li {
      display: inline-block;
      padding: 1.2vh 1rem 1.2vh 1rem;
      cursor: pointer;
      transition-duration: 0.4s;
      transition-property: background-color;
      font-size: 1.2rem;
      font-weight: 700;
      &:hover {
        background-color: white;
        color: darken($colour-button-primary, 15%);
      }
      &.active {
        background-color: white;
        color: darken($colour-button-primary, 15%);
      }
    }
  }
