  <h2 class="text-center"><strong>{{criteriaType.name}}</strong> values</h2>
  <div>
    <a (click)="navigateBack()"><- back to list</a>
  </div>
  <div>
    <h3>Add a new value</h3>
    <table class="minimalistBlack">
        <thead>
          <tr>
            <th>name</th>
            <th>order</th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>
              <input type="text" class="form-control text-input" id="step" [(ngModel)]="newValue.value_display" />
            </td>
            <td>
              <input type="number" class="form-control" id="value" [(ngModel)]="newValue.value" />
            </td>
            <td><button type="button" (click)="addValue()">Add</button></td>
          </tr>
        </tfoot>
        <tbody>
          <!-- <tr *ngFor="let item of criteriaValues">
            <td>
              <input type="number" class="form-control" id="step" [(ngModel)]="item.value"
                [disabled]="editingValue.id !== item.id" />
            </td>
            <td>
              <input type="text" class="form-control" id="value" [(ngModel)]="item.value_display"
                [disabled]="editingValue.id !== item.id" />
            </td>
            <td>
              <button *ngIf="editingValue.id !== item.id" type="button" (click)="editValue(item)">Edit</button>
              <button *ngIf="editingValue.id === item.id" type="button" (click)="cancelEditValue()">Cancel</button>
              <button *ngIf="editingValue.id === item.id" type="button" (click)="saveEditValue()">Save</button>
              <button type="button" class="ml-4" (click)="deleteValue(item.id)">Delete</button>
            </td>
          </tr> -->
        </tbody>
      </table>
      <h3>possible values</h3>
    <ag-grid-angular style="width: 100%; height: 1000px;" class="ag-theme-alpine" [rowData]="criteriaValues"
      [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" [rowDragManaged]="true" [animateRows]="true"
      (rowDragEnd)="onRowDragEnd($event)" [defaultColDef]="defaultColDef">
    </ag-grid-angular>
