<h2 class="text-center"><strong>{{criteriaType.name}}</strong> values</h2>
<a class="link-button margin-bottom" (click)="navigateBack()">
  <i class="glyphicon glyphicon-chevron-left mr-5"></i>
  back to list
</a>
<div>
  <ag-grid-angular style="width: 100%; height: 900px;" class="ag-theme-alpine" [rowData]="criteriaValues"
    [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" [rowDragManaged]="true" [animateRows]="true"
    (rowDragEnd)="onRowDragEnd($event)" [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<a class="link-button margin-top" (click)="openModal()">Add all values</a>
<h4>Add a new value</h4>
<table class="minimalistBlack">
  <thead>
    <tr>
      <th>name</th>
      <th>order</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>
        <input type="text" class="form-control text-input" id="step" [(ngModel)]="newValue.value_display" />
      </td>
      <td>
        <input type="number" class="form-control" id="value" [(ngModel)]="newValue.value" />
      </td>
      <td><button type="button" (click)="addValue()">Add</button></td>
    </tr>
  </tfoot>
  <tbody>
  </tbody>
</table>
<jw-modal [id]="modalId">
  <h4>Add all values for this criteria, one each line</h4>
  <textarea class="edit-criteria__textarea--bulk" [(ngModel)]="bulkValues"></textarea>
  <div class="container-row">
    <a class="link-button" (click)="closeModal();">Cancel</a>
    <a class="action-button" (click)="importValues();">Save</a>
  </div>
</jw-modal>
