<div style="padding-left: 20rem;">

  <h2 >Please fill the data about yourself answering the following questions</h2>

  <div class="form-entry--inline margin-top-2">
    <label>Enter your 4 digit PIN</label>
    <code-input [isCodeHidden]="false"
      [isNonDigitsCode]="false"
      [codeLength]="4"
      (codeCompleted)="onCodeCompleted($event)"
      >
    </code-input>
  </div>

  <div *ngIf="this.pinValidated">
  <div *ngFor="let item of criteria" >

    <div *ngIf="item.data_type === criteriaDataTypes.SNGVAL" class="form-entry--inline margin-top-2">
      <label [for]="item.name + '_id'">{{item.name}}</label>
      <select [name]="item.name" [id]="item.name + '_id'" [(ngModel)]="values[item.id]">
        <option
          *ngFor="let option of item.values"
          [value]="option.id">
          {{option.value_display}}
        </option>
      </select>
    </div>

    <div *ngIf="item.data_type === criteriaDataTypes.MLTVAL" class="form-entry-multiselect--inline margin-top-2">
      <label [for]="item.name + '_id'">{{item.name}}</label>
      <div class="values">
        <div class="entry" *ngFor="let option of item.values" >
          <input type="checkbox" [name]="option.value_display" [id]="option.value_display" [value]="option.id" [(ngModel)]="values[item.id][option.id]">
          <span>{{option.value_display}}</span>
        </div>
      </div>
    </div>

    <div *ngIf="item.data_type === criteriaDataTypes.NUMVAL" class="form-entry--inline margin-top-2">
      <label [for]="item.name + '_id'">{{item.name}}</label>
      <input type="number" [name]="item.name" [id]="item.name" [(ngModel)]="values[item.id]">
    </div>

    <div *ngIf="item.data_type === criteriaDataTypes.BTHYR" class="form-entry--inline margin-top-2">
      <label [for]="item.name + '_id'">Birthday year</label>
      <select [name]="item.name" [id]="item.name + '_id'" [(ngModel)]="values[item.id]">
        <option
          *ngFor="let option of birthYears()"
          [value]="option">
          {{option}}
        </option>
      </select>
    </div>

  </div>

  <a class="bigbutton--primary margin-top-2" (click)="sendValues()">
    Save values
    <i class="glyphicon glyphicon-ok mr-5"></i>
  </a>
</div>
</div>
