@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@import "./variables.scss";
@import "./mixins.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html {
  font-size: 10px;
}

h4 {
  font-size: 1.6rem;
  color: $colour-title-text;
  text-transform: uppercase;
  font-weight: 700;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-top {
  margin-top: 1rem;
}
.button--primary {
  display: inline-block;
  @include styled-button($colour-button-primary);
}

.button--secondary {
  display: inline-block;
  @include styled-button($colour-button-secondary);
}

.grid__button--primary {
  @include styled-button($colour-button-primary);
}

.grid__button--disabled {
  display: none;
}

.form-entry--inline {
  display: inline-block;
  label {
    display: block;
  }
  margin-right: 3rem;

  &:last-of-type {
    margin-right: 0;
  }

  input {
    @include form-entry-input;
    padding: .3rem;

    &[type=checkbox] {
      margin: .8rem;
      padding-bottom: 0;
    }
  }

  select {
    @include form-entry-input;
    height: 100%;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    padding: .5rem;
  }
}
