@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

.link-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.link-button a {
  margin-right: 1em;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #eba96b;
  color: white;
  transition-duration: 0.4s;
  transition-property: background-color;
}
.link-button a:hover {
  background-color: #fa8d27;
  text-decoration: none;
  color: white;
}

.action-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.action-button a {
  margin-right: 1em;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #67a0d8;
  color: white;
  transition-duration: 0.4s;
  transition-property: background-color;
}
.action-button a:hover {
  background-color: #1976d2;
  text-decoration: none;
  color: white;
}


.link-button-container {
  display: flex;
  flex-direction: row;
}
