@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/utils.scss";
@import "./scss/components.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

html {
  font-size: 10px;
}

h4 {
  font-size: 1.6rem;
  color: $colour-title-text;
  text-transform: uppercase;
  font-weight: 700;
}


