.button--primary {
  display: inline-block;
  @include styled-button($colour-button-primary);
}

.bigbutton--primary {
  display: inline-block;
  @include styled-button-big($colour-button-primary);
}

.button--secondary {
  display: inline-block;
  @include styled-button($colour-button-secondary);
}

.grid__button--primary {
  @include styled-button($colour-button-primary);
}

.grid__button--disabled {
  display: none;
}

.form-entry-multiselect--inline {
  display: inline-block;
  .block-label {
    display: block;
  }
  margin-right: 3rem;

  div.values {
    height: 200px;
    border: 1px solid;
    overflow: scroll;
  }

  input {
    margin-right: .8rem;
    margin-left: .4rem;
  }
}

.form-entry--inline {
  display: inline-block;
  .block-label {
    display: block;
  }
  margin-right: 3rem;

  &:last-of-type {
    margin-right: 0;
  }

  input {
    @include form-entry-input;
    padding: .3rem;

    &[type=checkbox] {
      margin: .8rem;
      padding-bottom: 0;
    }
  }

  select {
    @include form-entry-input;
    height: 100%;
    -moz-appearance:button; /* Firefox */
    -webkit-appearance:button; /* Safari and Chrome */
    appearance:button;
    outline: none;
    padding: .5rem;
  }
}
