@mixin styled-button($colour) {
  cursor: pointer;
  margin-right: 1em;
  padding: .5rem 1rem .5rem 1rem;
  text-decoration: none;
  border-radius: 100px;
  background-color: $colour;
  color: white;
  transition-duration: 0.4s;
  transition-property: background-color;
  &:hover {
    background-color: darken($colour, 15%);
    color: white;
    text-decoration: none;
  }
}

@mixin styled-button-big($colour) {
  cursor: pointer;
  margin-right: 1em;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  border-radius: 100px;
  background-color: $colour;
  color: white;
  transition-duration: 0.4s;
  transition-property: background-color;
  &:hover {
    background-color: darken($colour, 15%);
    color: white;
    text-decoration: none;
  }
}

@mixin form-entry_input {
  border: 1px solid;
  border-color: $colour-input-border;
  font-size: 1.6rem;
  color: $colour-input-text;
  background-color: white;
  width: 100%;
}
