
<ag-grid-angular
    style="width: 100%; height: 1000px;"
    class="ag-theme-alpine"
    [rowData]="criteria"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
    [rowDragManaged]="true"
    [animateRows]="true"
    (rowDragEnd)="onRowDragEnd($event)"
    [defaultColDef]="defaultColDef"
    (gridReady)="onGridReady($event)"
    (modelUpdated)="onModelUpdated($event)">
</ag-grid-angular>
<h4>Add a new criteria</h4>

<div class="form-entry--inline" style="width: 50%;">
  <label for="add-name" class="block-label">Name</label>
  <input type="text" name="add-name" id="add-name" [(ngModel)]="newCriteria.name">
</div>
<div class="form-entry--inline">
  <label for="add-required" class="block-label">Required</label>
  <input type="checkbox" name="add-required" id="add-required" [(ngModel)]="newCriteria.required">
</div>
<div class="form-entry--inline">
  <label for="add-datatype" class="block-label">Data Type</label>
  <select name="add-datatype" id="add-datatype" [(ngModel)]="newCriteria.data_type">
    <option
      *ngFor="let option of dataTypes"
      [value]="option.value">
      {{option.name}}
    </option>
  </select>
</div>
<div class="form-entry--inline">
  <a class="button--primary" (click)="addCriteria();">
    Add
    <i class="glyphicon glyphicon-plus mr-5"></i>
  </a>
</div>
