<table class="minimalistBlack mt-2">
  <thead>
    <tr>
      <th>Code</th>
      <th>Created</th>
      <th>actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>
        <input type="text" class="form-control" id="step" [(ngModel)]="newUser.code" />
      <td>&nbsp;</td>
      <td>
        <button type="button" (click)="addUser()">Add</button>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{ item.code }}</td>
      <td>{{ item.created_at }}</td>
      <td>
        <button type="button" (click)="deleteUser(item.id, item.code)">Delete</button>
        <button *ngIf="false"  type="button" (click)="editUser(item.id)">Edit Features</button>
        <button type="button" (click)="generateQuestionsLink(item.id)">Generate Link</button>
        <!-- <button type="button" (click)="editCriteriaType(item.id)">Edit</button> -->
      </td>
    </tr>
  </tbody>
</table>

<jw-modal [id]="modalId" [small]="true">
  <h4>Questions Link for user</h4>
  <div class="margin-top-2">
    <span><a [href]="userQuestionsLink">{{userQuestionsLink}}</a></span>
    <span>
      <a class="button--primary margin-left-2" (click)="copyToClipboard(userQuestionsLink)">
        Copy link
        <i class="glyphicon glyphicon-copy mr-5"></i>
      </a>
    </span>
    <div>
      <a class="button--secondary margin-top-2" (click)="closeModal()">
        Close
      </a>
    </div>
  </div>
</jw-modal>
